#ifndef SECRETS_H
#define SECRETS_H

namespace Config {
  namespace WiFi {
    constexpr const char* SSID = "YOUR_WIFI_NAME";
    constexpr const char* PASSWORD = "YOUR_WIFI_PASSWORD";

  }

  namespace WeatherApi {
    constexpr const char* API_KEY = "YOUR_OPENWEATHERMAP_API_KEY";
  }

#endif
